html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Placeholder if we want to set our content font stack */
}

/*
 * The following is *required* for grids to work properly when padding
 * is added directly to pure-u units.
 */
.pure-g > div, .pure-g > .wf-main, .pure-g > .wf-sidebar, .pure-g > .wf-supplement {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wf-main, .wf-sidebar, .wf-supplement {
    padding: 1em;
}

.wf-header, .wf-footer {
    /* Placeholder for any default header/footer settings */
}
