html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Placeholder if we want to set our content font stack */
}

/*
 * The following is *required* for grids to work properly when padding
 * is added directly to pure-u units.
 */
.pure-g > div, .pure-g > aside, .pure-g > nav, .pure-g > main {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wf_main, .wf_sidebar, .wf_supplement {
    padding: 1em;
}

.wf_header, .wf_footer {
    /* Placeholder for any default header/footer settings */
}

