/* Woof User Guide CSS - assumes _woof.css loaded */
.wf_console_session {
   margin: 10px 30px;
   font-size: 83%;
   font-family: "Courier New", Courier, monospace;
   background-color: #cccccc;
   padding: 2px;
   line-height: 1em;
}

.wf_filename {
   font-size: 83%;
   font-family: "Courier New", Courier, monospace;
}

.wf_demotext {
   font-size: 83%;
   font-family: "Courier New", Courier, monospace;
}

.wf_center {
   text-align: center;
}

code, .wf_code {
   font-family: "Courier New", Courier, monospace;
   font-size: 83%;
}



