/* Woof default CSS */

/* FYI - The Woof logo main color is #E99A56 */

.wf-header {
    font-weight: bold;
    height: 48px;
    color: white;
    background-color: #006666; 
    background-position: 20px 20px;
    padding: 20px;
    background-image: url(../images/_woof/logo.png);
    background-repeat: no-repeat;
    text-indent: 100px;
    color: #E99A56;
}

.wf-header h2, .wf-header h3 {
    margin: 0px;
}

.wf-sidebar .pure-menu.pure-menu-open {
    border-width: 0;
    background-color: #006666;
}

.wf-sidebar .pure-menu .pure-menu-heading, .wf-sidebar .pure-menu a {
    color: #E99A56;
}

.wf-sidebar .pure-menu .pure-menu-selected a {
    color: #006666;
    background-color: #E99A56;
}

.wf-sidebar {
    background-color: #006666;
}

.wf-main h1, .wf-main h2 {
    color: #888888;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.wf-supplement h2 {
  color: #177f75; /* #21b6a8; */
  margin-bottom: 0.2em;
  /* margin-top: 1.5em; */
  margin-top: 0em;
  font-size: 93%;
}

.wf-supplement {
  font-size: 93%;
}

.wf-supplement ul {
  margin-top: 0em;
  padding-left: 1em;
}

.wf-supplement ul li {
  list-style: none;
}

.wf-supplement a {
  color: #177f75;
  text-decoration: none;
}

.wf-supplement li a:hover {
  font-weight: bold;
}

.wf-footer p {
  text-align: center;
  font-size: smaller;
  color: #808080;
}
