/* Woof default CSS */
/* Assumes YUI reset-font-grids and base-min loaded */

/* FYI - The Woof logo main color is #DB7D2A */

h1,h2 {
  color: #888888;
  margin-bottom: 0.5em;
}

#ft {
    font-size: 77%;
    text-align: center;
    border-top: 1px solid #aaaaaa;
    /* margin-right: 180px; */
    margin-top: 10px;
}

.banner h2 {
    color: #006666;
    margin: 0px;
}

.banner h3 {
    color: #006666;
    margin: 0px;
}

#hd .banner {
    font-family: Trebuchet MS, Helvetica, sans-serif;
    font-weight: bold;
    height: 48px;
    background-image: url(../images/woof/_logo.png);
    background-position: left top;
    background-repeat: no-repeat;
    text-indent: 100px;
    margin-top: 20px;
}


#bd {
  font-family: Verdana;
  font-size: 108%;
}

.linkbox h2 {
  color: #177f75; /* #21b6a8; */
  margin-bottom: 0.2em;
  margin-top: 1.5em;
  font-size: 93%;
}

.linkbox {
  font-size: 93%;
}

.linkbox ul {
  margin-top: 0em;
  margin-left: 0.5em;
}

.linkbox ul li {
  list-style: none;
}

.linkbox a {
  color: #177f75;
  text-decoration: none;
}

.linkbox li a:hover {
  font-weight: bold;
}

div.navbox {
  margin-top: 1em;
}

.navbox {
  font-size: 100%;
}

.navbox h2 {
  font-size: 93%;
  margin-bottom: 0.2em;
  margin-top: 1.5em;
  color: #808080;
}

.navbox ul {
  margin-left: 1.5em;
  margin-top: 0em;
  margin-bottom: 0em;
}

.navbox li {
  list-style-image: url(../images/woof/_navarrowright.png);
  font-weight: bold;
  color: #808080;
}

.navbox a:link, .navbox a:visited {
  text-decoration: none;
  font-weight: normal;
  color: #808080;
}

.navbox a:hover {
  font-weight: bold;
}

.hnavbox {
  border-top:1px solid #808080;
  padding:0.5em;
  text-align:center;
  display: block;
}

.leftmost {
  display: block;
  float: left;
  text-align: left;
  background-image: url(../images/woof/_navarrowleft.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 15px; /* So image does not overlap */
}

.rightmost {
  display: block;
  float: right;
  text-align: right;
  background-image: url(../images/woof/_navarrowright.png);
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 15px; /* So image does not overlap */
}

table {
  margin: 1em;
  border: thin solid;
  border-collapse: collapse;
  border-color: #808080;
  padding: 4;
}

td {
  border: thin solid;
  border-color: #808080;
  vertical-align: top;
  font-size: 93%;
}

th {
  border: thin solid;
  border-color: #808080;
  padding: 4px;
  background-color: #CCCCCC;
}

dt, dd {
   font-size: 93%;
}




