.wf-header {
   color: #c16e8c;
   background-color: #e0edde;
   padding: 10px;
   border-bottom: #183b75 solid 2px;
   background-image: url(../images/fibonacci.jpg);
   background-repeat: no-repeat;
   background-size: contain;
   text-indent: 5em;
}

.wf-sidebar {
   background-color: #e0edde;
   border-bottom: #183b75 solid 2px;
}

.wf-main {
   border-bottom: #183b75 solid 2px;
}

.wf-footer {
    font-size:smaller;
    text-align: center;
}